<!DOCTYPE html>
<html>
<head>
    <title>Student List</title>
</head>
<body>
    <h1>Student List</h1>
    <a href="{% url 'student_add' %}">Add New Student</a>
    <ul>
        {% for student in object_list %}
            <li>
                {{ student.first_name }} {{ student.last_name }} - 
                <a href="{% url 'student_edit' student.pk %}">Edit</a> - 
                <a href="{% url 'student_delete' student.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
